@{
    ViewData["Title"] = "Home";
}
<!--==============================Content================================-->

<div class="l-row l-row--hero">
    <div class="c-content__hero"></div>
    <div class="l-row l-row--search">
        <div class="l-container">
            <div class="c-content__search">
                <h2>Find your dream home</h2>
                <div class="c-content__search-box">
                    <form class="l-form l-search-form">
                        <input type="text" class="l-form-control" placeholder="Search; City, State, or Zip.">
                        <button type="submit" class="l-btn l-btn-primary">Search</button>
                        <div class="l-dropdown l-dropdown--search">
                            <div class="l-list__title l-list__title--location">Locations</div>
                            <ul class="l-list l-list--search">
                                <li>Sandy, <span class="state">UT</span></li>
                                <li>Santa Clara, <span class="state">UT</span></li>
                                <li>Santaquin, <span class="state">UT</span></li>
                                <li>San Juan County, <span class="state">UT</span></li>
                                <li>Sanpete County, <span class="state">UT</span></li>
                            </ul>
                            <div class="l-divider l-divider--search"></div>
                            <div class="l-list__title l-list__title--agent">Agents</div>
                            <ul class="l-list l-list--search">
                                <li>Sandy Bruce, <span class="state">UT</span></li>
                                <li>Santa Clause, <span class="state">UT</span></li>
                                <li>Sanny Winkler, <span class="state">UT</span></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="l-row l-row--recent">
    <div class="l-container">
        <h3>recent homes</h3>
        <div class="c-content__property">
            <div class="c-content__property-item">
                <a href="#">
                    <div class="c-content__property-main">
                        <div class="c-content__property-image c-content__property-image--vertical">
                            <!-- Use this class for vertical images -->
                            <img src="~/images/property/home-vertical.jpg" alt="">
                        </div>
                        <div class="c-content__property-price h-clearfix">
                            <div class="c-content__property-price-current">
                                $345,000
                            </div>
                            <div class="c-content__property-price-changes c-content__property-price-changes--up">
                                <span class="value">6,5</span>
                            </div>
                        </div>
                    </div>
                    <div class="c-content__property-desc">
                        <div class="c-content__property-info h-clearfix">
                            <div class="c-content__property-address">
                                472 Ponderosa Dr, Alpine
                            </div>
                            <div class="c-content__property-photos">
                                <span>×</span> 12
                            </div>
                        </div>
                        <div class="c-content__property-features h-clearfix">
                            <div class="c-content__property-feature c-content__property-feature--beds">
                                4
                            </div>
                            <div class="c-content__property-feature c-content__property-feature--bath">
                                3.0
                            </div>
                            <div class="c-content__property-feature c-content__property-feature--sqft">
                                2,785
                            </div>
                        </div>
                    </div>
                </a>
                <div class="c-content__property-favorite"></div>
            </div>
            <div class="c-content__property-item is-favorite">
                <a href="#">
                    <div class="c-content__property-main">
                        <div class="c-content__property-image h-height">
                            <!-- Use this class for horizontal images with not enough height -->
                            <img src="~/images/property/home3.jpeg" alt="">
                        </div>
                        <div class="c-content__property-price h-clearfix">
                            <div class="c-content__property-price-current">
                                $899,500
                            </div>
                            <div class="c-content__property-price-changes c-content__property-price-changes--down">
                                <span class="value">10</span>
                            </div>
                        </div>
                    </div>
                    <div class="c-content__property-desc">
                        <div class="c-content__property-info h-clearfix">
                            <div class="c-content__property-address">
                                936 S Chappel Valley Loop, Alpine
                            </div>
                            <div class="c-content__property-photos">
                                <span>×</span> 18
                            </div>
                        </div>
                        <div class="c-content__property-features h-clearfix">
                            <div class="c-content__property-feature c-content__property-feature--beds">
                                5
                            </div>
                            <div class="c-content__property-feature c-content__property-feature--bath">
                                3.5
                            </div>
                            <div class="c-content__property-feature c-content__property-feature--sqft">
                                6,150
                            </div>
                        </div>
                    </div>
                </a>
                <div class="c-content__property-favorite"></div>
            </div>
            <div class="c-content__property-item">
                <a href="#">
                    <div class="c-content__property-main">
                        <div class="c-content__property-image">
                            <img src="~/images/property/home3.jpg" alt="">
                        </div>
                        <div class="c-content__property-price h-clearfix">
                            <div class="c-content__property-price-current">
                                $459,999
                            </div>
                            <div class="c-content__property-price-changes c-content__property-price-changes--none">

                            </div>
                        </div>
                    </div>
                    <div class="c-content__property-desc">
                        <div class="c-content__property-info h-clearfix">
                            <div class="c-content__property-address">
                                472 Ponderosa Dr, Alpine
                            </div>
                            <div class="c-content__property-photos">
                                <span>×</span> 14
                            </div>
                        </div>
                        <div class="c-content__property-features h-clearfix">
                            <div class="c-content__property-feature c-content__property-feature--beds">
                                4
                            </div>
                            <div class="c-content__property-feature c-content__property-feature--bath">
                                4.0
                            </div>
                            <div class="c-content__property-feature c-content__property-feature--sqft">
                                3,873
                            </div>
                        </div>
                    </div>
                </a>
                <div class="c-content__property-favorite"></div>
            </div>
            <div class="c-content__property-item">
                <a href="#">
                    <div class="c-content__property-main">
                        <div class="c-content__property-image">
                            <img src="~/images/property/home4.jpg" alt="">
                        </div>
                        <div class="c-content__property-price h-clearfix">
                            <div class="c-content__property-price-current">
                                $345,000
                            </div>
                            <div class="c-content__property-price-changes c-content__property-price-changes--none">

                            </div>
                        </div>
                    </div>
                    <div class="c-content__property-desc">
                        <div class="c-content__property-info h-clearfix">
                            <div class="c-content__property-address">
                                472 Ponderosa Dr, Alpine
                            </div>
                            <div class="c-content__property-photos">
                                <span>×</span> 12
                            </div>
                        </div>
                        <div class="c-content__property-features h-clearfix">
                            <div class="c-content__property-feature c-content__property-feature--beds">
                                4
                            </div>
                            <div class="c-content__property-feature c-content__property-feature--bath">
                                3.0
                            </div>
                            <div class="c-content__property-feature c-content__property-feature--sqft">
                                2,785
                            </div>
                        </div>
                    </div>
                </a>
                <div class="c-content__property-favorite"></div>
            </div>
            <div class="c-content__property-item">
                <a href="#">
                    <div class="c-content__property-main">
                        <div class="c-content__property-image">
                            <img src="~/images/property/home5.jpg" alt="">
                        </div>
                        <div class="c-content__property-price h-clearfix">
                            <div class="c-content__property-price-current">
                                $899,500
                            </div>
                            <div class="c-content__property-price-changes c-content__property-price-changes--none">

                            </div>
                        </div>
                    </div>
                    <div class="c-content__property-desc">
                        <div class="c-content__property-info h-clearfix">
                            <div class="c-content__property-address">
                                936 S Chappel Valley, Alpine
                            </div>
                            <div class="c-content__property-photos">
                                <span>×</span> 18
                            </div>
                        </div>
                        <div class="c-content__property-features h-clearfix">
                            <div class="c-content__property-feature c-content__property-feature--beds">
                                5
                            </div>
                            <div class="c-content__property-feature c-content__property-feature--bath">
                                3.5
                            </div>
                            <div class="c-content__property-feature c-content__property-feature--sqft">
                                6,150
                            </div>
                        </div>
                    </div>
                </a>
                <div class="c-content__property-favorite"></div>
            </div>
            <div class="c-content__property-item">
                <a href="#">
                    <div class="c-content__property-main">
                        <div class="c-content__property-image">
                            <img src="~/images/property/home6.jpg" alt="">
                        </div>
                        <div class="c-content__property-price h-clearfix">
                            <div class="c-content__property-price-current">
                                $459,999
                            </div>
                            <div class="c-content__property-price-changes c-content__property-price-changes--up">
                                <span class="value">6,5</span>
                            </div>
                        </div>
                    </div>
                    <div class="c-content__property-desc">
                        <div class="c-content__property-info h-clearfix">
                            <div class="c-content__property-address">
                                472 Ponderosa Dr, Alpine
                            </div>
                            <div class="c-content__property-photos">
                                <span>×</span> 14
                            </div>
                        </div>
                        <div class="c-content__property-features h-clearfix">
                            <div class="c-content__property-feature c-content__property-feature--beds">
                                4
                            </div>
                            <div class="c-content__property-feature c-content__property-feature--bath">
                                4.0
                            </div>
                            <div class="c-content__property-feature c-content__property-feature--sqft">
                                3,873
                            </div>
                        </div>
                    </div>
                </a>
                <div class="c-content__property-favorite"></div>
            </div>
            <div class="c-content__property-item">
                <a href="#">
                    <div class="c-content__property-main">
                        <div class="c-content__property-image">
                            <img src="~/images/property/home7.jpg" alt="">
                        </div>
                        <div class="c-content__property-price h-clearfix">
                            <div class="c-content__property-price-current">
                                $345,000
                            </div>
                            <div class="c-content__property-price-changes c-content__property-price-changes--up">
                                <span class="value">6,5</span>
                            </div>
                        </div>
                    </div>
                    <div class="c-content__property-desc">
                        <div class="c-content__property-info h-clearfix">
                            <div class="c-content__property-address">
                                472 Ponderosa Dr, Alpine
                            </div>
                            <div class="c-content__property-photos">
                                <span>×</span> 12
                            </div>
                        </div>
                        <div class="c-content__property-features h-clearfix">
                            <div class="c-content__property-feature c-content__property-feature--beds">
                                4
                            </div>
                            <div class="c-content__property-feature c-content__property-feature--bath">
                                3.0
                            </div>
                            <div class="c-content__property-feature c-content__property-feature--sqft">
                                2,785
                            </div>
                        </div>
                    </div>
                </a>
                <div class="c-content__property-favorite"></div>
            </div>
            <div class="c-content__property-item">
                <a href="#">
                    <div class="c-content__property-main">
                        <div class="c-content__property-image">
                            <img src="~/images/property/home8.jpg" alt="">
                        </div>
                        <div class="c-content__property-price h-clearfix">
                            <div class="c-content__property-price-current">
                                $899,500
                            </div>
                            <div class="c-content__property-price-changes c-content__property-price-changes--none">

                            </div>
                        </div>
                    </div>
                    <div class="c-content__property-desc">
                        <div class="c-content__property-info h-clearfix">
                            <div class="c-content__property-address">
                                936 S Chappel Valley, Alpine
                            </div>
                            <div class="c-content__property-photos">
                                <span>×</span> 18
                            </div>
                        </div>
                        <div class="c-content__property-features h-clearfix">
                            <div class="c-content__property-feature c-content__property-feature--beds">
                                5
                            </div>
                            <div class="c-content__property-feature c-content__property-feature--bath">
                                3.5
                            </div>
                            <div class="c-content__property-feature c-content__property-feature--sqft">
                                6,150
                            </div>
                        </div>
                    </div>
                </a>
                <div class="c-content__property-favorite"></div>
            </div>
            <div class="c-content__property-item is-favorite">
                <a href="#">
                    <div class="c-content__property-main">
                        <div class="c-content__property-image">
                            <img src="~/images/property/home9.jpg" alt="">
                        </div>
                        <div class="c-content__property-price h-clearfix">
                            <div class="c-content__property-price-current">
                                $459,999
                            </div>
                            <div class="c-content__property-price-changes c-content__property-price-changes--none">

                            </div>
                        </div>
                    </div>
                    <div class="c-content__property-desc">
                        <div class="c-content__property-info h-clearfix">
                            <div class="c-content__property-address">
                                472 Ponderosa Dr, Alpine
                            </div>
                            <div class="c-content__property-photos">
                                <span>×</span> 14
                            </div>
                        </div>
                        <div class="c-content__property-features h-clearfix">
                            <div class="c-content__property-feature c-content__property-feature--beds">
                                4
                            </div>
                            <div class="c-content__property-feature c-content__property-feature--bath">
                                4.0
                            </div>
                            <div class="c-content__property-feature c-content__property-feature--sqft">
                                3,873
                            </div>
                        </div>
                    </div>
                </a>
                <div class="c-content__property-favorite"></div>
            </div>
        </div>
        <div class="l-row l-row--center">
            <a class="l-btn l-btn-more l-btn-more--arrow-right" href="#">See More</a>
        </div>
    </div>
</div>
<div class="l-row l-row--search-bottom">
    <div class="l-container">
        <div class="c-content__search-bottom">
            <h6>Search for Homes by City</h6>
            <ul class="l-list c-content__search-list">
                <li><a href="#">Salt Lake City</a></li>
                <li><a href="#">West Valley City</a></li>
                <li><a href="#">Provo</a></li>
                <li><a href="#">West Jordan</a></li>
                <li><a href="#">Orem</a></li>
                <li><a href="#">Sandy</a></li>
                <li><a href="#">Ogden</a></li>
                <li><a href="#">St. George</a></li>
                <li><a href="#">Layton</a></li>
                <li><a href="#">Millcreek</a></li>
                <li><a href="#">Taylorsville</a></li>
                <li><a href="#">South Jordan</a></li>
                <li><a href="#">Logan</a></li>
                <li><a href="#">Lehi</a></li>
                <li><a href="#">Murray</a></li>

                <li><a href="#">Bountiful</a></li>
                <li><a href="#">Draper</a></li>
                <li><a href="#">Riverton</a></li>
                <li><a href="#">Roy</a></li>
                <li><a href="#">Spanish Fork</a></li>
                <li><a href="#">Pleasant Grove</a></li>
                <li><a href="#">Cottonwood Heights</a></li>
                <li><a href="#">Tooele</a></li>
                <li><a href="#">Springville</a></li>
                <li><a href="#">Cedar City</a></li>
                <li><a href="#">Midvale</a></li>
                <li><a href="#">Kaysville</a></li>
                <li><a href="#">Holladay</a></li>
                <li><a href="#">American Fork</a></li>
                <li><a href="#">Clearfield</a></li>

                <li><a href="#">Syracuse</a></li>
                <li><a href="#">South Salt Lake</a></li>
                <li><a href="#">Herriman</a></li>
                <li><a href="#">Eagle Mountain</a></li>
                <li><a href="#">Clinton</a></li>
                <li><a href="#">Washington</a></li>
                <li><a href="#">Payson</a></li>
                <li><a href="#">Farmington</a></li>
                <li><a href="#">Brigham City</a></li>
                <li><a href="#">Saratoga Springs</a></li>
                <li><a href="#">North Ogden</a></li>
                <li><a href="#">South Ogden</a></li>
                <li><a href="#">North Salt Lake</a></li>
                <li><a href="#">Highland</a></li>
                <li><a href="#">Centerville</a></li>

                <li><a href="#">Hurricane</a></li>
                <li><a href="#">Heber City</a></li>
                <li><a href="#">West Haven</a></li>
                <li><a href="#">Lindon</a></li>
                <li><a href="#">Cedar Hills</a></li>
                <li><a href="#">Woods Cross</a></li>
                <li><a href="#">Alpine</a></li>
                <li><a href="#">West Point</a></li>
                <li><a href="#">Smithfield</a></li>
                <li><a href="#">Santaquin</a></li>
                <li><a href="#">Vernal</a></li>
                <li><a href="#">Washington Terrace</a></li>
                <li><a href="#">Grantsville</a></li>
                <li><a href="#">Price</a></li>
                <li><a href="#">Riverdale</a></li>

                <li><a href="#">North Logan</a></li>
                <li><a href="#">Mapleton</a></li>
                <li><a href="#">Pleasant View</a></li>
                <li><a href="#">Tremonton</a></li>
                <li><a href="#">Hyrum</a></li>
                <li><a href="#">Bluffdale</a></li>
                <li><a href="#">Park City</a></li>
                <li><a href="#">Richfield</a></li>
                <li><a href="#">Hooper</a></li>
                <li><a href="#">Providence</a></li>
                <li><a href="#">Ivins</a></li>
                <li><a href="#">Salem</a></li>
                <li><a href="#">Ephraim</a></li>
                <li><a href="#">South Weber</a></li>
                <li><a href="#">Roosevelt</a></li>
            </ul>
        </div>
    </div>
</div>

